# {{ ansible_managed }}
# ==========================

/var/log/redis/redis-server.log {
    weekly
    rotate 10
    copytruncate
    delaycompress
    compress
    notifempty
    missingok
}

/var/log/redis/redis-senitnel.log {
    weekly
    rotate 10
    copytruncate
    delaycompress
    compress
    notifempty
    missingok
}